//
//  Global.xcconfig
//  Characters
//
//  Created by Alvin Ling on 7/12/20.
//  Copyright © 2020 Alvin Ling. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /
SCHEME_SEP = :/$(SLASH)
HTTPS = https$(SCHEME_SEP)
BASE_URL = $(HTTPS)api.duckduckgo.com/?q=
